@charset "UTF-8";

/* CELULAR */

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(245, 245, 245);
}

header {
    background-color: #092E8D;
}

div#logo {
    text-align: center;
}

img#logo {
    height: 100px;
    width: 100px;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}

i#burguer {
    background-color: #061f5e;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: #0e3eb8;
    color: rgb(255, 255, 255);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #082879;
    color: white;
    border-top: 2px solid #031b58;
}

menu > ul > li > a:hover {
    background-color: #0e3eb8;
}

main {
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column-reverse; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.texto {
    margin-bottom: 0px; /* Espaço entre o texto e a imagem */
}

.imagem {
    max-width: 100%; /* Ajusta a largura da imagem conforme necessário */
}

main > figure {
    background-color: rgb(228, 228, 228);
}

a {
    text-decoration: none;
}

div#informacao {
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
}

main > div > figure > a > img {
    width: 100vw;
    margin-top: 9px;
    margin-bottom: 40px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    text-align: left;
    transition: all 0.3s linear;
}

main > div > figure > a > img:hover {
    scale: 1.02;
}

main > div > figure > a > figcaption {
    padding-top: 30px;
    font-weight: bolder;
    color: #031b58;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    font-size: 2em;
}

main > figure > a > figcaption:hover {
    color: #092E8D;
}

footer {
    padding: 20px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px; /* Espaço entre os ícones */
    margin-bottom: 10px; /* Espaço abaixo dos ícones */
}

footer > p#des > a {
    color: rgb(97, 97, 97);
    font-weight: 0.8em;
}

i#insta {
    color: #031b58;
    font-size: 1.2em;
}

i#youtube {
    color: #031b58;
    font-size: 1.4em;
}
