@charset "UTF-8";

/* CELULAR */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    display: flex;
    flex-direction: column; /* Coloca os filhos em coluna */
    scroll-behavior: smooth;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    background-color: #092E8D;
}

div#logo {
    text-align: center;
}

img#logo {
    height: 100px;
    width: 100px;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}

i#burguer {
    background-color: #061f5e;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: #0e3eb8;
    color: rgb(255, 255, 255);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #082879;
    color: white;
    border-top: 2px solid #031b58;
}

menu > ul > li > a:hover {
    background-color: #0e3eb8;
}

main {
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100vw;
    flex: 1; /* Faz com que o main ocupe todo o espaço disponível */
}

div#pesquisa {
    background-color: rgb(241, 241, 241);
    margin-top: 20px;
    text-align: center;
}

input#search-input {
    border-radius: 24px;
    margin: 20px;
    padding: 10px;
    width: 95%;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.39);
}

#link-topo {
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: #082879;
    padding: 17px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.texto {
    margin-bottom: 0px;
}

.imagem {
    max-width: 100%;
}

main > figure {
    background-color: rgb(228, 228, 228);
}

a {
    text-decoration: none;
}

.informacao {
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
}

main > div > figure > a > img {
    width: 100vw;
    margin-top: 9px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    text-align: left;
    transition: all 0.3s linear;
}

main > div > figure > a > img:hover {
    scale: 1.02;
}

main > div > figure > a > figcaption {
    padding-top: 30px;
    font-weight: bolder;
    color: #031b58;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    font-size: 2em;
}

main > figure > a > figcaption:hover {
    color: #092E8D;
}

footer {
    padding: 20px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

footer > p#des > a {
    color: rgb(97, 97, 97);
    font-weight: 0.8em;
}

i#insta {
    color: #031b58;
    font-size: 1.2em;
}

i#youtube {
    color: #031b58;
    font-size: 1.4em;
}
