@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Garante que padding não afete a largura total */
}

body, html {
    background-color: rgb(245, 245, 245);
    scroll-behavior: smooth;
}

.navbar {
    background-color: #082879 !important;
}

#logo {
    padding-left: 5px;
}

main {
    text-align: center;
}

.topo {
    background-color: #092E8D;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização da div 'pessoa' */
div.pessoa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    background-color: #092E8D;
    height: 180px;
    width: 300px;
    border-radius: 15px;
    color: rgb(235, 235, 235);
    padding: 20px;
}

div.pessoa > h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    word-wrap: break-word; /* Permite quebra de linha se necessário */
}

div.pessoa > p {
    font-size: 1em;
    text-align: center;
    word-wrap: break-word;
}

footer {
    padding: 20px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px; /* Espaço entre os ícones */
    margin-bottom: 10px; /* Espaço abaixo dos ícones */
}

footer > p#des > a {
    color: rgb(97, 97, 97);
    font-weight: 0.8em;
    text-decoration: none;
}

i#insta {
    color: #031b58;
    font-size: 1.2em;
}

i#youtube {
    color: #031b58;
    font-size: 1.4em;
}
