@charset "UTF-8";

/* CELULAR */

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: white;
}

header {
    background-color: #092E8D;
}

div#logo {
    text-align: center;
}

img#logo {
    height: 100px;
    width: 100px;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}

i#burguer {
    background-color: #061f5e;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: #0e3eb8;
    color: rgb(255, 255, 255);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #082879;
    color: white;
    border-top: 2px solid #031b58;
}

menu > ul > li > a:hover {
    background-color: #0e3eb8;
}

main {
    color: black;
}

main > h1 {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 2em;
}

main > h2 {
    font-size: 1.5em;
    margin-left: 8px;
}

main > h3 {
    font-size: 1.3em;
    margin-left: 8px;
}

main > h4 {
    font-size: 1.1em;
    margin-left: 8px;
}

main > p {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.1em;
    text-align: justify;
}

main > p > a {
    color: #061f5e;
    text-decoration: none;
    font-weight: bold;
}

main > ul > li {
    margin-left: 8px;
}

main > ul {
    margin-left: 8px;
    list-style-type: none;
}

main > ul > li > strong {
    margin-left: 9px;
}

h1 {
    padding-top: 10px;
    margin-bottom: 15px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

p.tutorial {
    margin-top: 10px;
    margin-left: 12px;
}

p#creditos {
    color: gray;
    font-size: 0.7em;
}

strong {
    margin-bottom: 10px;
}

li.texto {
    margin-top: 10px;
    margin-bottom: 10px;
}

main > img {
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px; /* Espaço entre os ícones */
    margin-bottom: 10px; /* Espaço abaixo dos ícones */
}

footer > p#des > a {
    color: rgb(97, 97, 97);
    font-weight: 0.8em;
    text-decoration: none;
}

i#insta {
    color: #031b58;
    font-size: 1.2em;
}

i#youtube {
    color: #031b58;
    font-size: 1.4em;
}
