@charset "UTF-8";

/* TABLET */

@media screen and (min-width: 760px) and (max-width: 992px) {

    img.foto {
        display: block;
        margin: 20px auto;
        max-width: 70%;
        border-radius: 10px;
    }

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: #031b58;
        border-top: none;
    }

    main {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    main > h1 {
        margin: 20px auto;
        width: 70%;
        font-size: 2em;
        box-sizing: border-box;
    }

    main > h2 {
        margin: 20px auto;
        width: 70%;
        font-size: 1.5em;
        box-sizing: border-box;
    }

    main > h3 {
        margin: 20px auto;
        width: 70%;
        font-size: 1.3em;
        box-sizing: border-box;
    }

    main > h4 {
        margin: 20px auto;
        width: 70%;
        font-size: 1.1em;
        box-sizing: border-box;
    }

    main > ul {
        margin: 20px auto;
        width: 70%;
        box-sizing: border-box;
        list-style-type: none;
    }

    main > p {
        margin: 20px auto;
        width: 70%;
        font-size: 1.2em;
        box-sizing: border-box;
    }

    
}

@media screen and (min-width: 992px) {

    img.foto {
        display: block;
        margin: 20px auto; /* Centraliza a imagem e adiciona margem */
        max-width: 70%; /* Garante que a imagem não ultrapasse a largura do contêiner */
        border-radius: 10px;
    }

    i#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: left; /* Centraliza o menu */
    }

    menu > ul {
        display: inline-block; /* Centraliza os itens do menu */
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: #031b58;
        border-top: none;
    }

    main {
        width: 80%; /* Ajuste conforme necessário */
        text-align: center;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 auto; /* Centraliza o main */
    }

    main > h1 {
        margin: 20px auto;
        width: 70%;
        text-align: left;
        font-size: 2em;
        box-sizing: border-box;
    }

    main > h2 {
        margin: 20px auto;
        width: 70%;
        text-align: left;
        font-size: 1.5em;
        box-sizing: border-box;
    }

    main > h3 {
        margin: 20px auto;
        width: 70%;
        text-align: left;
        font-size: 1.3em;
        box-sizing: border-box;
    }

    main > h4 {
        margin: 20px auto;
        width: 70%;
        text-align: left;
        font-size: 1.1em;
        box-sizing: border-box;
    }

    main > p {
        margin: 20px auto;
        width: 70%;
        font-size: 1.2em;
        box-sizing: border-box;
    }

    main > ul {
        margin: 20px auto;
        width: 70%;
        box-sizing: border-box;
        list-style-type: none;
        text-align: left;
    }

    i#insta {
        color: #031b58;
        font-size: 1.5em;
    }
    
    i#youtube {
        color: #031b58;
        font-size: 1.7em;
    }
}