@charset "UTF-8";

/* TABLET */

@media screen and (min-width: 760px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: left;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: #031b58;
        border-top: none;
    }

    main {
        justify-content: center;
    }

    div#informacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
    }

    main > div > figure > a > img,
    main > div > figure > a > figcaption {
        width: 500px;
        max-width: 100%;
        text-align: center;
        border-radius: 10px;
    }
}

@media screen and (min-width: 992px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: left;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: #031b58;
        border-top: none;
    }

    main {
        justify-content: center;
    }

    div#informacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
    }

    main > div > figure > a > img,
    main > div > figure > a > figcaption {
        width: 500px;
        max-width: 100%;
        text-align: center;
        border-radius: 10px;
    }
}
